body {
    height: 2000px;
}
div {
    width: 200px;
    height: 200px;
    margin: auto;
}

.container {
    width: 900px;
    height: 700px;
    border: 10px solid darkblue;
    margin: auto;
    position: relative;
}

.satu {
    background-color: aquamarine;
}

.dua {
    background-color: burlywood;
    position: fixed;
    height: 200px;
    width: 100%;
    top: 0;
    left: 0;
}

.tiga {
    background-color: gold;

}